@model IEnumerable<webHibiscus.Models.Servicio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Servicios</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Nuevo Servicio</a>
</p>
@foreach (var item in Model) {
<div class="card">
  <div class="card-header">
    Servicio
  </div>
  <div class="card-body">
      <div class="row">
          <div class="col-md-2">
            <a asp-controller="Reserva" asp-action="Create" asp-route-id="@item.IdServicio" class="btn btn-info">Agendar</a>
          </div>
          <div class="col-md-4">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Descripcion)</p>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Precio)</p>
          </div>
    </div>
  </div>
</div>
}
