@model IEnumerable<webHibiscus.Models.Servicio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Servicios</h1>

@foreach (var item in Model)
{

    <div class="card container-fluid" style="background-color:white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2" style="display: flex; align-items: center; justify-content: center;">
                    <section>
                        <a asp-controller="Reserva" asp-action="Create" asp-route-id="@item.IdServicio" class="btn btn-outline-primary">Agendar</a>
                    </section>
                </div>
                <div class="col-md-10">
                    <section>
                        <h5>
                            <br />
                            <b>@Html.DisplayFor(modelItem => item.Nombre)</b>
                            -
                            @Html.DisplayFor(modelItem => item.Precio)
                        </h5>
                        <p class="container-fluid" style="color:black;font-size:large">@Html.DisplayFor(modelItem => item.Descripcion)</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
}
