@model webHibiscus.Models.Reserva

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Agendar</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FechaHora" class="control-label">Fecha/Hora</label>
                <input asp-for="FechaHora" class="form-control" />
                <span asp-validation-for="FechaHora" class="text-danger"></span>
            </div>

            <div class="form-group">
                <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente" hidden></select>
            </div>

            <div class="form-group">
                <label asp-for="IdServicio" class="control-label">Servicio</label>
                <select asp-for="IdServicio" class="form-control" asp-items="ViewBag.IdServicio"></select>
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>

            <div class="form-group">
                <br />
                <input type="submit" value="Reservar" class="btn btn-outline-success" />
                <a class="btn btn-outline-danger" asp-area="" asp-controller="Servicio" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
